[Desktop Entry]
Type=Application
Name=Deckard
Exec=flatpak run --command=/app/bin/launch.sh io.github.nazbert.Deckard -b
X-Flatpak=io.github.nazbert.Deckard
