[Desktop Entry]
Type=Application
Version=1.0
Name=Deckard
Comment=Control your Elgato Stream Decks
Exec=Deckard
Icon=io.github.nazbert.Deckard
Terminal=false
Categories=Utility;
StartupWMClass=io.github.nazbert.Deckard
